:root{
  --black: #080808;
  --lightBlack: #282828;
  --white: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--black);
  color: white;
  font-family: 'Akzidenz';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: 'Akzidenz';
	src: url('assets/fonts/akzidenz-grotesk-extended.ttf');
}
